.ShopCategory-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    margin: 10px;
    gap: 15px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {

    .ShopCategory-products {
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
        margin: 0px;
    }
}